
#searchSect {
  background-color: lightgrey !important;
  height: 400px;
  padding: 10px;

}

#skybar {

  background-image: url("bluesky.jpg");
  background-repeat: no-repeat;

}

h1{
  padding: 15px;
}

p {
  height: 30px;
  padding: 10px;
  margin: 2px !important;
}

.day {
  background-color: #95C3F3;
  margin: 1px;
}

p.day {
  background-color: #95C3F3 !important;
  color: white;
}

h4.day {
  color: white !important;
}

#fiveDays{
justify-content: center;
}

.extreme {
  background-color: #9900cc;
  color: white;
}

.veryHigh {
  background-color: #cc0000;
  color: white;
}

.high {
  background-color: #ff6600;
  color: white;
}

.moderate {
  background-color: #ffcc00;
  color: white;
}

.low {
  background-color: #33cc33;
  color: white;
}

.btn {
  background-color:#95C3F3 !important;
  color:#fff;
	outline: none;
	padding:10px 20px;
	text-transform:uppercase;
	border:none;
	cursor:pointer;
	position:relative;
}

#citySearch {
  margin-top: 10px;
}