#topPart {
  background-color: grey !important;
  height: 60px;
  text-align: center;
}

#searchSect {
  background-color: lightgrey !important;
}

p {
  background-color: white !important;
  height: 30px;
  padding: 10px;
  margin: 2px !important;
}
